html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-family: "Lucida Grande", sans-serif;
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 7.50px;  /* Remove scrollbar space */
    padding: 0.75px;
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 68%, 0);
    height: 50px;
    width: 5px;
    float: left;
    left: 2.5px;
    border: 1px solid hsla(0, 0%, 88%, 0);
    border-radius: 5px;
}

.hidden-scrollbar {
  color: white;
  overflow: hidden;
}

.hidden-scrollbar .inner {
  height: 350px;
  width: 350px;
  overflow: auto;
  margin-right: 1px;
}

body {
	background-image: url("Images/UCSB-Campus.jpg");
        background-repeat:no-repeat;
       background-size:cover;
}


#bar {
    position: fixed;
    width: 88.85%;
    height: 6.5%;
    padding: 0.5%;
    background-color: hsla(0, 0%, 0%, 1);
    border-left: 1px solid hsla(0, 0%, 57%, 1);
    border-right: 1px solid hsla(0, 0%, 57%, 1);
    border-bottom: 0px solid hsla(0, 0%, 57%, 1);
    border-top: 0px solid hsla(0, 0%, 57%, 1);
    top: 0.0%;
    left: 4.5%;
    float: center;
    items-align: center;
    vertical-align: center;
    overflow: hidden;
    font-weight: normal;
}

#logo {
    position: fixed;
	height: 5.75%;
	top: 1.35%;
	left: 13.0%;
	items-align: center;
	vertical-align: center;
}

td#icon {
    width: 5%;
    padding: 10%;
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(1, 0%, 100%, 1);
    font-weight: normal;
}
/*	hsl(203, 99%, 35%)*/
#links {
    position: fixed;
	width: 85.75%;
	height: 4.5%;
	margin: 0.5%;
	color:  hsla(0, 0%, 100%, 1);
	background-color: hsla(1, 0%, 89%, 0);
	top: 0.15%;
	left: 6%;
	float: center;
	text-align: left;
	vertical-align: center;
	overflow: hidden;
	font-weight: normal;
}

.badge {
  height: 50%;
  width: 10px;
  margin: 5px;
  padding: 0.5px;
  display: table-cell;
  float: left;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: hsla(1, 0%, 0%, 0);
}

a#button-1 {
    position: relative;
    color:  hsla(1, 0%, 100%, 1);
    height: 40px;
    width: 30px;
    background-color: hsla(1, 0%, 0%, 0);
    border-radius: 100%;
    margin: 2.5px;
    padding: 2.5px;
    bottom: 3.5px;
    text-decoration: none;
    font-weight: normal;
    font-size: 6pt;
    overflow: hidden;
}

a#button-2 {
    position: relative;
    height: 10px;
    display: table-cell;
    float: left;
    text-align: center;
    vertical-align: middle;
    color:  hsla(0, 0%, 87%, 1);
    background-color: hsla(0, 0%, 95%, 1);
    border: 1px solid hsla(0, 0%, 87%, 1);
    border-radius: 5px;
    margin: 0px 0px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-weight: normal;
    font-size: 70%;
}

a#button-3 {
    position: fixed;
    height: 1.25%;
    color:  hsla(1, 0%, 0%, 1);
    background-color: hsla(1, 0%, 80%, 1);
    border-radius: 75%;
    margin: 5px;
    top: 6%;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    font-size: 7pt;
}

a#button {
    position: relative;
    height: 95%;
    color:  hsla(1, 0%, 100%, 1);
    background-color: hsla(1, 0%, 80%, 0);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-weight: normal;
    font-size: 8pt;
}

#image {
    position: absolute;
	height: 25%;
	padding: 0.5%;
	color:  hsla(1, 0%, 100%, 0);
	background-color: hsla(1, 0%, 0%, 0);
	float: right;
	right: 8.0%;
	bottom: 3.0%;
	items-align: center;
	overflow: hidden;
	font-weight: normal;
}

#container-left {
    position: relative;
	width: 57.25%;
	height: 96%;
	padding: 0.5%;
	background-color: hsla(1, 0%, 100%, 1);
	border-left: 1px solid hsla(0, 0%, 57%, 1);
	border-right: 1px solid hsla(0, 0%, 57%, 1);
	border-bottom: 1px solid hsla(0, 0%, 57%, 1);
    border-radius: 0px;
	top: 2.75%;
	left: 4.5%;
	float: center;
	items-align: center;
	overflow-y: hidden;
	font-weight: normal;
}

#container-right {
    position: fixed;
	width: 30.5%;
	height: 95.0%;
	padding: 0.5%;
	background-color: hsla(1, 0%, 100%, 1);
	border-left: 1px solid hsla(0, 0%, 57%, 1);
	border-right: 1px solid hsla(0, 0%, 57%, 1);
	border-bottom: 1px solid hsla(0, 0%, 57%, 1);
    border-radius: 0px;
	top: 4%;
	right: 5.5%;
	float: center;
	items-align: center;
	overflow-y: hidden;
	font-weight: normal;
}


#calendar {
    position: relative;
    padding: 0.5%;
    background-color: hsla(1, 0%, 100%, 0.6);
    border-radius: 15px;
    float: right;
    text-align: center;
    vertical-align: center;
    top: 0.5%;
    right: 0.5%;
    width: 34%;
}

#nav {
    position: relative;
    padding: 0.5%;
    width: 64%;
    background-color: hsla(1, 0%, 100%, 0.6);
    border-radius: 15px;
    float: left;
    text-align: center;
    vertical-align: center;
    top: 0.5%;
    left: 0.5%;
    overflow: hidden;
}

#content {
    position: relative;
    padding: 0.5%;
    width: 99%;
    max-height: 99.5%;
    background-color: hsla(1, 0%, 100%, 0.6);
    border-radius: 5px;
    float: left;
    text-align: center;
    vertical-align: center;
    top: 5.5%;
    left: 0.5%;
    overflow-y: auto;
}

#content-home {
    position: relative;
    padding: 0.5%;
    width: 99%;
    max-height: 99.5%;
    background-color: hsla(1, 0%, 100%, 0.6);
    border-radius: 5px;
    float: left;
    text-align: center;
    vertical-align: center;
    top: 5.5%;
    left: 0.5%;
    overflow-y: hidden;
}

p#home {
    padding: 0.5%;
}

#announcements {
    position: relative;
    padding: 0.5%;
    width: 99%;
    max-height: 99.5%;
    background-color: hsla(1, 0%, 100%, 0.6);
    border-radius: 5px;
    float: left;
    text-align: center;
    vertical-align: center;
    top: 5.5%;
    left: 0.5%;
    overflow-y: hidden;
}

#body-text {
    position: relative;
    padding: 0.5%;
    float: left;
    left: 5%;
    width: 90%;
    max-height: 99%;
    text-align: left;
    font-size: 9pt;
    font-weight: normal;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 10.5%;
    overflow: hidden;
}

.member-container {
  position: relative;
  width: 100%;
}

.member-image {
  display: block;
  width: 100%;
  border: 1px solid hsla(1, 0%, 90%, 1);
  height: auto;
}

.member-overlay {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  opacity: 0;
  transition: .5s ease;
  background-color: hsla(1, 0%, 90%, 0.9);
}

.member-container:hover .member-overlay {
  opacity: 1;
}

.member-text {
  color: hsla(1, 0%, 10%, 1);
  background-color: hsla(1, 0%, 100%, 0);
  font-size: 9pt;
  position: absolute;
  width: 75%;
  height: 75%;
  float: center;
  top: 12.5%;
  left: 12.5%;
  padding: 4.5%;
  -webkit-transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
  text-align: left;
  vertical-align: center;
  objects-align: center;
  text-transform: uppercase;
  overflow: auto;
}

.event-description {
  color: hsla(1, 0%, 10%, 1);
  background-color: hsla(1, 0%, 100%, 0);
  font-size: 9pt;
  position: absolute;
  width: 75%;
  height: 75%;
  float: center;
  top: 12.5%;
  left: 12.5%;
  padding: 4.5%;
  -webkit-transform: translate(-10%, -10%);
  -ms-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);
  text-align: left;
  vertical-align: center;
  objects-align: center;
  text-transform: none;
  overflow: auto;
}

tr {
    vertical-align: center;
}
td#member-image {
    width: 22.5%;
    height: 150px;
}

td#member-desc {
    width: 67.5%;
    margin: 2.5%;
    top: -2.5%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    text-align: left;
    vertical-align: top;
}


#contents {
	position: fixed;
	float: left;
	left: 17%;
	height: 103%;
	width: 84%;
	overflow-y: auto;
	overflow-x: hidden;
	top: 0%;
}



h1#tit {
	color: white;
	background: black;
	float: left;
	text-align: left;
	font-size: 17pt;
	text-transform: uppercase;
}

h3#tit {
	color: black;
	float: left;
	text-align: left;
	font-size: 13pt;
	text-transform: uppercase;
}

a#icon {
	color: white;
	background: black;
	font-weight: normal;
	text-decoration: none;
}

a#icon:hover {
	color: #d3d3d3;
}




a#link {
	color: black;
	background: white;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

td#r{
	color: black;
	text-align: right;
}


img#icon {
  border-radius: 5px;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  position: absolute;
  display: inline-block;
}

table#nav {
    width: 100%;
    background: hsla(0, 0%, 100%, 0);
}

td#social-media-icon {
	color: hsla(1, 0%, 100%, 1);
	background: hsla(0, 0%, 100%, 0);
	position: relative;
	float: left;
	width: 1em;
	text-align: center;
}

td#nav-icon {
	color: hsla(1, 0%, 100%, 1);
	background: hsla(0, 0%, 100%, 0);
	position: relative;
	float: right;
	width: 1em;
	text-align: center;
}

td#nav-link {
	color: hsla(1, 0%, 100%, 1);
	background: hsla(0, 0%, 100%, 0);
	position: relative;
	max-width: 7em;
	float: right;
	text-align: left;
}

a#r {
	text-align: right;
	float: right;
}